<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:npj="http://www.npj.com.br"
	layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>Pesquisa de usuários</title>
</head>
<body>

	<div class="content-wrapper" layout:fragment="conteudo">
		<section class="content-header">
			<h1>
				Pesquisa de usuários<small>Visualização</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a href="#">Formulários</a></li>
				<li class="active">Elementos gerais</li>
			</ol>
		</section>
		
		<!-- Main content -->
	    <section class="content">
	      <div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<div class="row">
								<div class="col-sm-2">
									<div class="aw-page-header-controls">
										<a class="btn  btn-default" th:href="@{/usuarios/novo}">
											<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo usuário</span>
										</a>
									</div>
								</div>							
							</div>
							
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
								<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<form method="GET" th:object="${usuarioFilter}">
								<div class="row">
									<div class="col-sm-6  form-group">
										<label for="nome" class="control-label">Nome</label> 
										<input id="nome" type="text" size="100" maxlength="100" autofocus="autofocus" 
											class="form-control" th:field="*{pessoa.nome}" placeholder="Pesquisar por nome" />
									</div>
	
									<div class="col-sm-6  form-group">
										<label for="login" class="control-label">Login</label> 
										<input id="login" type="text" size="100" maxlength="100" class="form-control" th:field="*{login}" 
											placeholder="Pesquisar por login"/>
									</div>
									
								</div>
								
								<!-- /.box-body -->
								<div class="box-footer">
									<button class="btn  btn-primary" type="submit">Pesquisar</button>
								</div>
							</form>
						
							<div class="table-responsive  bw-tabela-simples">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<th class="table-col-foto"></th>
											<th class="table-col-nome">
												Nome
											</th>
											<th class="table-col-email">Login</th>
											<th class="table-col-celular">Status</th>
											<th class="table-col-data">Data criação</th>
											<th class="table-col-acoes"></th>
										</tr>
									</thead>
									
									<tbody>
										<tr th:each="usuario : ${pagina.conteudo}">
											<td class="text-center">
												<img th:src="@{/fotos/thumbnail.{foto}(foto=${usuario.pessoa.fotoOuMock})}" class="img-responsive"/>
											</td>
											<td th:text="${usuario.pessoa.nome}">Antionio Lima da Silva</td>
											<td th:text="${usuario.login}">Antonio</td>
											<td>											
												<th:block th:if="${usuario.ativo}">
													<span class="label  label-success">Ativo</span>
												</th:block>
												<th:block th:unless="${usuario.ativo}">
													<span class="label  label-danger">Inativo</span>
												</th:block>
											</td>
											<td th:text="${{usuario.dataCriacao}}">21/11/1989</td>
											<td class="text-center">
												<a class="btn  btn-link  btn-xs" title="Editar"
													th:href="@{/usuarios/{id}(id=${usuario.id})}"
													sec:authorize="hasRole('ROLE_EDI_USUARIO')"> 
													<i class="glyphicon glyphicon-pencil"></i>
												</a>
												<a class="btn  btn-link  btn-xs js-excluir-btn" title="Excluir"
													data:url="@{/usuarios/{id}(id=${usuario.id})}"
													data:objeto="${usuario.pessoa.nome}"
													sec:authorize="hasRole('ROLE_EXC_USUARIO')">
													<i class="glyphicon glyphicon-remove"></i>
												</a>
											</td>
										</tr>
										<tr th:if="${pagina.vazia}">
											<td colspan="7">Nenhum usuário encontrado</td>
										</tr>
									</tbody>
								</table>
							</div>
							
							<npj:paginacao page="${pagina}" />
						</div>
					</div>
				</div>
			</div>
	    </section>		
	</div>	
	<th:block layout:fragment="javascript-extra">	
		<script th:src="@{/javascripts/npj.dialogo-excluir.js}"></script>	
	</th:block>		
</body>
</html>