<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<div class="modal  fade" id="conteudoMensagemModal" tabindex="-1" role="dialog" th:fragment="conteudoMensagem">
 	<div class="modal-dialog"> 
	 	<div class="modal-content">  		
	   		<div class="modal-header">
	      		<button type="button" class="close" data-dismiss="modal"><i>&times;</i></button>
	       		<h4 class="modal-title js-nome-pessoa-mensagem"></h4>
	      	</div>
	      		
	 		<div class="modal-body js-conteudo-mensagem-modal">
		 				
	   		</div>	
	 	</div>
 	</div>
</div>
	
</html>