/*
######################
# UTILIDADES
######################
*/
.bw-glyphicon-large {
	font-size: 18px;
}

.bw-required > .control-label:after {
	content: "*";
}

/*
######################
# COMPONENTES
######################
*/

/* Field Action */
.bw-field-action {
	display: flex;
}

.bw-field-action__icon {
	margin: 6px 0 0 5px;
}

/* Upload */
.bw-upload {
	padding: 15px;
	
	border: 1px dashed #ddd;
	border-radius: 4px;
	background: #fafafa;
	
	text-align: center;
}

.bw-upload-form-file {
	display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
}

.bw-upload-form-file > input[type=file] {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    
    font-size: 500px;
}

/* Tabela Simples */
.bw-tabela-simples {
	margin-top: 15px;
}

.bw-tabela-simples table tr th {
	border-bottom-width: 1px;
}

.bw-tabela-simples table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 10px;
    vertical-align: middle;
}

/*
###################
# PÁGINAS DO SISTEMA
###################
*/

/* Colunas - Pesquisa de pessoa */
.table-col-foto {
	min-width: 40px;
	width: 40px;
	text-align: center;
}

.table-col-nome {
	width: 180px;
	text-align: left;
}

.table-col-pseudonimo {
	width: 60px;
	text-align: left;
}

.table-col-email {
	width: 180px;
}

.table-col-celular {
	width: 120px;
}

.table-col-cpf {
	width: 120px;
	text-align: left;
}

.table-col-data {
	width: 120px;
}

.table-col-funcao {
	width: 120px;
}

.table-col-acoes {
	width: 100px;
}

.table-cidades-col-estado {
	width: 140px;
	text-align: right;
}

/* Colunas - Pesquisa de usuários */
.table-usuarios-col-status {
	width: 30px;
	text-align: center;
}

/*
######################################
# CUSTOMIZAÇÃO DE COMPONENTES
######################################
*/

.checkbox input[type="checkbox"]:checked + input + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; 
}

.bw-tabela-item {
	position: relative; /* Para que o painel de exclusão apareça dentro da linha */
	background-color: #b8bfc1 !important;
	padding: 5px;
	
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.bw-tabela-item:after {
	clear: both;
	display: block;
    content: "";
}

.bw-tabela-item ~ .bw-tabela-item {
	border-top: 1px solid #ddd;
}

.bw-tabela-item__coluna {
	padding: 0 10px;
}

.bw-tabela-item__coluna--foto {
	float: left;
	width: 60px;
	
	text-align: center;
}

.bw-tabela-item__coluna--detalhes, .bw-tabela-item__coluna--valores {
	margin-left: 60px;
}

.bw-tabela-pessoa-nome {
	font-weight: 500;
	font-size: 1.1em;
	display: block;
}

.bw-tabela-pessoa-email {
	color: #09090a;
	font-weight: 500;
	display: block;
}

.bw-tabela-tipo {
	color: #09090a;
	font-weight: 500;
	display: block;
}

.bw-tabela-item__painel-exclusao {
    position: absolute;
    top: 0;
	right: 0% !important;
	height: 100%;
    width: 40%;
    
    text-align: center;
    padding-top: 35px;
    
	background-color: #f0ad4e;
	
	opacity: 0;
	transition: opacity 0.5s;
}

.solicitando-exclusao .bw-tabela-item__painel-exclusao {
	right: 0;
	opacity: 1;
}

.bw-tabela-item__titulo-exclusao {
    display: block;
    margin-bottom: 5px;
    
	color: #fff;
    font-size: 1.3em;
}

@media (min-width: 768px) { /* screen-sm-min */	
	.bw-tabela-item__painel-exclusao {
		position: absolute;
	    top: 0;
		right: 0% !important;
		height: 100%;
	    width: 40%;
	}

	.bw-tabela-item__coluna {
		float: left;
		margin-left: 0px;
	}
	
	.bw-tabela-item__coluna--detalhes {
		width: calc(70% - 30px);
	}
}
