<script id="tabela-pesquisa-rapida-pessoa-processo" type="text/x-handlebars-template">
<div class="table-responsive  bw-tabela-simples" style="margin-top: 15px">
	<table class="table  table-hover">
		<thead>
			<tr>
				<th class="col-sm-6">Nome</th>
				<th class="col-sm-3">Pseudônimo</th>
				<th class="col-sm-3">CPF</th>
			</tr>
		</thead>
				
		<tbody>
			{{#if .}}
				{{#each .}}
					<tr data-id="{{id}}" data-nome="{{nome}}" class="js-pessoa-selecionada-linha">
						<td>{{nome}}</td>
						<td>{{pseudonimo}}</td>
						<td>{{cpf}}</td>
 					</tr>
				{{/each}}
			{{else}}
				<tr>
					<td colspan="3">Nenhuma pessoa encontrada</td>
				</tr>
			{{/if}}
		</tbody>
	</table>
</div>
</script>