<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:npj="http://www.npj.com.br"
	layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>Disciplina | NPJ</title>
</head>
<body>

	<div class="content-wrapper" layout:fragment="conteudo">
		<section class="content-header">
			<h1 th:if="${disciplina.nova}">Cadastro de disciplina<small>Visualização</small></h1>
			<h1 th:unless="${disciplina.nova}">Edição da disciplina: [[${disciplina.nome}]]<small>Visualização</small></h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a href="#">Formulários</a></li>
				<li class="active">Elementos gerais</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">			
			<div class="box box-default">
							
				<div class="box-header with-border">
					<div class="row">
						<div class="col-sm-2">
							<div class="aw-page-header-controls">
								<a class="btn  btn-default" th:href="@{/disciplinas}">
									<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa disciplinas</span>
								</a>
							</div>
						</div>
					
					</div>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
					</div>
				</div>
				<!-- /.box-header -->
					
				<form method="POST" th:object="${disciplina}" th:action="@{/disciplinas/nova}">
					<div class="box-body">
					
						<npj:mensagem />
					
						<input type="hidden" th:field="*{id}">
						
						<div class="row">												
							<div class="col-sm-12  form-group bw-required" npj:classeparaerro="nome">
								<label for="nome" class="control-label">Nome</label> 
								<input id="nome" type="text" class="form-control" autofocus="autofocus" size="100" maxlength="100" th:field="*{nome}" />
							</div>		
						</div>			
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<button class="btn  btn-primary" type="submit" sec:authorize="hasRole('ROLE_CAD_DISCIPLINA')">[[${disciplina.nova ? 'Salvar' : 'Atualizar'}]]</button>
						<a th:href="@{/disciplinas/nova}" sec:authorize="hasRole('ROLE_CAD_DISCIPLINA')"  class="btn btn-info" role="button">Nova disciplina</a> 
					</div>
				</form>
			</div>
			<!-- /.box -->
			
		</section>
		<!-- /.content -->
	</div>
</body>
</html>